.lang{display:inline-block;vertical-align:baseline;margin:0 .5em 0 0;text-decoration:inherit;speak:none;font-smoothing:antialiased;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.lang.ab,.lang.af,.lang.aii,.lang.ajp,.lang.akk,.lang.aln,.lang.am,.lang.apu,.lang.apy,.lang.aqz,.lang.ar,.lang.arr,.lang.as,.lang.az,.lang.ba,.lang.bal,.lang.be,.lang.bg,.lang.bgs,.lang.bho,.lang.bm,.lang.bn,.lang.bo,.lang.bor,.lang.br,.lang.brh,.lang.bxr,.lang.ca,.lang.ce,.lang.ceb,.lang.ckb,.lang.ckt,.lang.co,.lang.cop,.lang.cs,.lang.ctn,.lang.cu,.lang.cv,.lang.cy,.lang.da,.lang.dar,.lang.de,.lang.drs,.lang.dsb,.lang.el,.lang.eme,.lang.en,.lang.eo,.lang.es,.lang.et,.lang.eu,.lang.fa,.lang.fi,.lang.fo,.lang.fr,.lang.frm,.lang.fro,.lang.fy,.lang.ga,.lang.gcd,.lang.gd,.lang.gl,.lang.glk,.lang.gn,.lang.got,.lang.gqa,.lang.grc,.lang.gsw,.lang.gu,.lang.gub,.lang.gun,.lang.ha,.lang.hak,.lang.hbo,.lang.he,.lang.hi,.lang.hil,.lang.hit,.lang.hr,.lang.hsb,.lang.hu,.lang.hy,.lang.hyw,.lang.id,.lang.ifb,.lang.is,.lang.it,.lang.ja,.lang.jaa,.lang.jv,.lang.ka,.lang.kaa,.lang.kbc,.lang.kfm,.lang.kk,.lang.km,.lang.kmr,.lang.kn,.lang.ko,.lang.koi,.lang.kpv,.lang.krl,.lang.ks,.lang.kv,.lang.ky,.lang.la,.lang.lad,.lang.lb,.lang.lez,.lang.lo,.lang.lt,.lang.lus,.lang.lv,.lang.lzh,.lang.lzz,.lang.mag,.lang.mdf,.lang.mjl,.lang.mk,.lang.ml,.lang.mn,.lang.mpu,.lang.mr,.lang.mt,.lang.my,.lang.myu,.lang.myv,.lang.ndg,.lang.ne,.lang.nl,.lang.nmf,.lang.nn,.lang.no,.lang.nyq,.lang.oc,.lang.oge,.lang.ojp,.lang.olo,.lang.or,.lang.orv,.lang.os,.lang.ota,.lang.otk,.lang.pa,.lang.pad,.lang.pbv,.lang.pcm,.lang.pl,.lang.pra,.lang.pro,.lang.prx,.lang.ps,.lang.pt,.lang.qee,.lang.qfn,.lang.qhe,.lang.qtd,.lang.qte,.lang.qti,.lang.quz,.lang.qxp,.lang.rm,.lang.rmn,.lang.ro,.lang.ru,.lang.sa,.lang.sah,.lang.say,.lang.sc,.lang.sd,.lang.sdh,.lang.shp,.lang.sjo,.lang.sk,.lang.sl,.lang.sme,.lang.sms,.lang.so,.lang.soj,.lang.sq,.lang.sr,.lang.ssp,.lang.sux,.lang.sv,.lang.sw,.lang.swl,.lang.ta,.lang.te,.lang.tg,.lang.th,.lang.tk,.lang.tl,.lang.tpn,.lang.tr,.lang.trw,.lang.tt,.lang.ug,.lang.uk,.lang.umo,.lang.unk,.lang.ur,.lang.urb,.lang.uz,.lang.vi,.lang.wbp,.lang.wo,.lang.wuu,.lang.xal,.lang.xav,.lang.xmf,.lang.xnr,.lang.xpg,.lang.yi,.lang.yo,.lang.yrl,.lang.yue,.lang.zh,.lang.zmu,.lang.zza{background-image:url(24c3ea8e1c7e63e7cebcdc15ebaa3873.png);background-repeat:no-repeat}
.lang.ab{background-position:0 0;width:22px;height:11px}
.lang.af{background-position:-22px 0;width:17px;height:11px}
.lang.aii{background-position:-198px 0;width:17px;height:11px}
.lang.ajp{background-position:-75px -88px;width:22px;height:11px}
.lang.akk,.lang.sux{background-position:-39px 0;width:17px;height:11px}
.lang.aln,.lang.sq{background-position:-72px 0;width:15px;height:11px}
.lang.am,.lang.drs{background-position:-87px 0;width:22px;height:11px}
.lang.apu,.lang.apy,.lang.arr,.lang.bor,.lang.gub,.lang.jaa,.lang.kbc,.lang.mpu,.lang.pad,.lang.umo,.lang.unk,.lang.urb,.lang.xav,.lang.yrl{background-position:-126px 0;width:16px;height:11px}
.lang.aqz{background-position:-56px 0;width:16px;height:11px}
.lang.ar{background-position:-142px 0;width:17px;height:11px}
.lang.as,.lang.lus,.lang.mag,.lang.mjl,.lang.nmf,.lang.pra,.lang.prx,.lang.qte,.lang.xnr{background-position:-181px 0;width:17px;height:11px}
.lang.az{background-position:-215px 0;width:22px;height:11px}
.lang.ba{background-position:-254px 0;width:17px;height:11px}
.lang.bal,.lang.brh,.lang.ps,.lang.trw{background-position:-201px -66px;width:17px;height:11px}
.lang.be{background-position:-20px -11px;width:22px;height:11px}
.lang.bg{background-position:-94px -11px;width:18px;height:11px}
.lang.bgs,.lang.ceb,.lang.hil,.lang.ifb,.lang.tl{background-position:-178px -88px;width:22px;height:11px}
.lang.bho{background-position:-60px -11px;width:17px;height:11px}
.lang.bm{background-position:-237px 0;width:17px;height:11px}
.lang.bn{background-position:-42px -11px;width:18px;height:11px}
.lang.bo{background-position:-17px -99px;width:18px;height:11px}
.lang.br{background-position:-77px -11px;width:17px;height:11px}
.lang.bxr{background-position:-129px -11px;width:22px;height:11px}
.lang.ca{background-position:-168px -11px;width:17px;height:11px}
.lang.ce{background-position:-185px -11px;width:17px;height:11px}
.lang.ckb,.lang.sdh{background-position:-58px -88px;width:17px;height:11px}
.lang.ckt{background-position:-219px -11px;width:17px;height:11px}
.lang.co{background-position:-11px -22px;width:18px;height:11px}
.lang.cop{background-position:0 -22px;width:11px;height:11px}
.lang.cs{background-position:-51px -22px;width:17px;height:11px}
.lang.ctn,.lang.ne{background-position:-19px -66px;width:9px;height:11px}
.lang.cu{background-position:-90px -66px;width:17px;height:11px}
.lang.cv{background-position:-236px -11px;width:18px;height:11px}
.lang.cy{background-position:-232px -99px;width:17px;height:11px}
.lang.da{background-position:-68px -22px;width:15px;height:11px}
.lang.dar,.lang.lez{background-position:-83px -22px;width:17px;height:11px}
.lang.de{background-position:-34px -33px;width:18px;height:11px}
.lang.dsb{background-position:-68px -55px;width:18px;height:11px}
.lang.el{background-position:-63px -33px;width:17px;height:11px}
.lang.eme,.lang.fr{background-position:-228px -22px;width:17px;height:11px}
.lang.en{background-position:-117px -22px;width:22px;height:11px}
.lang.eo{background-position:-161px -22px;width:17px;height:11px}
.lang.es,.lang.qee,.lang.ssp{background-position:-97px -88px;width:17px;height:11px}
.lang.et{background-position:-178px -22px;width:17px;height:11px}
.lang.eu{background-position:0 -11px;width:20px;height:11px}
.lang.fa,.lang.glk{background-position:-218px -66px;width:19px;height:11px}
.lang.fi{background-position:-210px -22px;width:18px;height:11px}
.lang.fo{background-position:-195px -22px;width:15px;height:11px}
.lang.frm,.lang.fro{background-position:-107px -66px;width:17px;height:11px}
.lang.fy,.lang.qfn{background-position:-245px -22px;width:17px;height:11px}
.lang.ga{background-position:-217px -33px;width:22px;height:11px}
.lang.gcd,.lang.wbp,.lang.zmu{background-position:-210px -99px;width:22px;height:11px}
.lang.gd{background-position:-147px -77px;width:18px;height:11px}
.lang.gl{background-position:0 -33px;width:17px;height:11px}
.lang.gn,.lang.gun{background-position:-177px -55px;width:20px;height:11px}
.lang.got{background-position:-52px -33px;width:11px;height:11px}
.lang.gqa,.lang.ha,.lang.pcm,.lang.say{background-position:-253px -55px;width:22px;height:11px}
.lang.grc{background-position:-109px 0;width:17px;height:11px}
.lang.gsw{background-position:-167px -88px;width:11px;height:11px}
.lang.gu{background-position:-80px -33px;width:17px;height:11px}
.lang.hak{background-position:-97px -33px;width:17px;height:11px}
.lang.hbo,.lang.he,.lang.lad{background-position:-114px -33px;width:15px;height:11px}
.lang.hi{background-position:-129px -33px;width:17px;height:11px}
.lang.hit,.lang.kmr,.lang.lzz,.lang.ota,.lang.qti,.lang.xpg,.lang.zza{background-position:-221px -44px;width:17px;height:11px}
.lang.hr{background-position:-29px -22px;width:22px;height:11px}
.lang.hsb{background-position:-119px -99px;width:18px;height:11px}
.lang.hu{background-position:-163px -33px;width:22px;height:11px}
.lang.hy,.lang.hyw{background-position:-159px 0;width:22px;height:11px}
.lang.id,.lang.jv{background-position:-200px -33px;width:17px;height:11px}
.lang.is{background-position:-185px -33px;width:15px;height:11px}
.lang.it{background-position:-239px -33px;width:17px;height:11px}
.lang.ja,.lang.ojp{background-position:0 -44px;width:17px;height:11px}
.lang.ka,.lang.oge,.lang.xmf{background-position:-17px -33px;width:17px;height:11px}
.lang.kaa{background-position:-56px -44px;width:22px;height:11px}
.lang.kfm{background-position:-151px -44px;width:19px;height:11px}
.lang.kk{background-position:-112px -44px;width:22px;height:11px}
.lang.km{background-position:-134px -44px;width:17px;height:11px}
.lang.kn{background-position:-39px -44px;width:17px;height:11px}
.lang.ko{background-position:-204px -44px;width:17px;height:11px}
.lang.koi{background-position:-170px -44px;width:17px;height:11px}
.lang.kpv,.lang.kv{background-position:-187px -44px;width:17px;height:11px}
.lang.krl{background-position:-78px -44px;width:17px;height:11px}
.lang.ks{background-position:-95px -44px;width:17px;height:11px}
.lang.ky{background-position:-238px -44px;width:18px;height:11px}
.lang.la{background-position:0 -55px;width:11px;height:11px}
.lang.lb{background-position:-86px -55px;width:18px;height:11px}
.lang.lo{background-position:-256px -44px;width:17px;height:11px}
.lang.lt{background-position:-33px -55px;width:18px;height:11px}
.lang.lv{background-position:-11px -55px;width:22px;height:11px}
.lang.lzh{background-position:-254px -11px;width:17px;height:11px}
.lang.mdf{background-position:-197px -55px;width:18px;height:11px}
.lang.mk{background-position:-104px -55px;width:22px;height:11px}
.lang.ml{background-position:-126px -55px;width:17px;height:11px}
.lang.mn{background-position:-215px -55px;width:22px;height:11px}
.lang.mr{background-position:-160px -55px;width:17px;height:11px}
.lang.mt{background-position:-143px -55px;width:17px;height:11px}
.lang.my{background-position:-112px -11px;width:17px;height:11px}
.lang.myu{background-position:-237px -55px;width:16px;height:11px}
.lang.myv{background-position:-139px -22px;width:22px;height:11px}
.lang.ndg,.lang.sw{background-position:-114px -88px;width:17px;height:11px}
.lang.nl{background-position:-100px -22px;width:17px;height:11px}
.lang.nn{background-position:-58px -66px;width:15px;height:11px}
.lang.no{background-position:-43px -66px;width:15px;height:11px}
.lang.nyq{background-position:0 -66px;width:19px;height:11px}
.lang.oc,.lang.pro{background-position:-73px -66px;width:17px;height:11px}
.lang.olo{background-position:-51px -55px;width:17px;height:11px}
.lang.or{background-position:-162px -66px;width:17px;height:11px}
.lang.orv{background-position:-124px -66px;width:21px;height:11px}
.lang.os{background-position:-179px -66px;width:22px;height:11px}
.lang.otk{background-position:-145px -66px;width:17px;height:11px}
.lang.pa{background-position:-35px -77px;width:17px;height:11px}
.lang.pbv{background-position:-237px -66px;width:17px;height:11px}
.lang.pl{background-position:0 -77px;width:18px;height:11px}
.lang.pt{background-position:-18px -77px;width:17px;height:11px}
.lang.qhe{background-position:-146px -33px;width:17px;height:11px}
.lang.qtd{background-position:-68px -99px;width:17px;height:11px}
.lang.quz,.lang.qxp,.lang.shp{background-position:-182px -77px;width:17px;height:11px}
.lang.rm{background-position:-86px -77px;width:11px;height:11px}
.lang.rmn{background-position:-52px -77px;width:17px;height:11px}
.lang.ro{background-position:-69px -77px;width:17px;height:11px}
.lang.ru{background-position:-97px -77px;width:17px;height:11px}
.lang.sa{background-position:-114px -77px;width:17px;height:11px}
.lang.sah{background-position:0 -110px;width:22px;height:11px}
.lang.sc{background-position:-131px -77px;width:16px;height:11px}
.lang.sd{background-position:-199px -77px;width:17px;height:11px}
.lang.sjo,.lang.ug,.lang.wuu{background-position:-154px -99px;width:17px;height:11px}
.lang.sk{background-position:-231px -77px;width:17px;height:11px}
.lang.sl{background-position:0 -88px;width:22px;height:11px}
.lang.sme{background-position:-28px -66px;width:15px;height:11px}
.lang.sms{background-position:-216px -77px;width:15px;height:11px}
.lang.so{background-position:-41px -88px;width:17px;height:11px}
.lang.soj{background-position:-22px -88px;width:19px;height:11px}
.lang.sr{background-position:-165px -77px;width:17px;height:11px}
.lang.sv{background-position:-131px -88px;width:18px;height:11px}
.lang.swl{background-position:-149px -88px;width:18px;height:11px}
.lang.ta{background-position:-222px -88px;width:17px;height:11px}
.lang.te{background-position:-261px -88px;width:17px;height:11px}
.lang.tg{background-position:-200px -88px;width:22px;height:11px}
.lang.th{background-position:0 -99px;width:17px;height:11px}
.lang.tk{background-position:-85px -99px;width:17px;height:11px}
.lang.tpn{background-position:-35px -99px;width:16px;height:11px}
.lang.tr{background-position:-51px -99px;width:17px;height:11px}
.lang.tt{background-position:-239px -88px;width:22px;height:11px}
.lang.uk{background-position:-102px -99px;width:17px;height:11px}
.lang.ur{background-position:-137px -99px;width:17px;height:11px}
.lang.uz{background-position:-171px -99px;width:22px;height:11px}
.lang.vi{background-position:-193px -99px;width:17px;height:11px}
.lang.wo{background-position:-249px -99px;width:17px;height:11px}
.lang.xal{background-position:-17px -44px;width:22px;height:11px}
.lang.yi{background-position:-22px -110px;width:15px;height:11px}
.lang.yo{background-position:-37px -110px;width:22px;height:11px}
.lang.yue{background-position:-151px -11px;width:17px;height:11px}
.lang.zh{background-position:-202px -11px;width:17px;height:11px}
